---
alias: 
tags:
  - vocabulary
type: term
definition: the consequence//outcome of the execution of a test.
---

the consequence/outcome of the execution of a test.