---
alias: 
tags:
  - vocabulary
type: term
definition: The process of confirming that a work product fulfills its specification
---

The process of confirming that a work product fulfills its specification